<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Message App</title>
</head>
<body>
    <header>
        <div id="header-sidebar">
            <div id="self-image" class="head-img-wrap">
                {% if user.profpic %}
                <button id="open-profile-modal-button">
                    <img id="convo-image" class="icon-img" src="{{ user.profpic }}" alt="">
                </button>
                {% else %}
                <button id="open-profile-modal-button">
                    <img id="convo-image" class="icon-img" src="{{ url_for('static', filename='images/pup1.jpg') }}" alt="">
                </button>  
                {% endif %}
            </div>
            <!-- The Profile Modal -->
            <div id="profileModal" class="modal">
                     <!-- Modal content  -->
                    <div class="modal-content">
                        <div class="modal-header" id="profile_modal_header">
                            <span class="profileclose">&times;</span>
                            <h2 id="profile_modal_name">@{{ user.username }}</h2>
                            {% if user.profpic %}
                            <img id="convo-image" class="icon-img" src="{{ user.profpic }}" alt="">
                            {% else %}
                            <img id="convo-image" class="icon-img" src="{{ url_for('static', filename='images/pup1.jpg') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="modal-body">
                            <br>
                            <div>Profile for: {{ user.first_name }} {{ user.last_name }}</div>
                            <br>
                            <div>Email: {{ user.email }}</div>
                            <br>
                            <div>Bio, editing abilites and more coming soon...</div>
                        </div>
                        <div class="modal-footer" id="profile_modal_footer">
                            <a href="{{ url_for('logout') }}" id="log-out-button">Log Out</a>
                        </div>
                    </div>
                </div>
        </div>
        <div id="header-main">
            <div id="contact-header">
                <div class="head-img-wrap">
                    {% if user.profpic %}
                    <img id="convo-image" class="icon-img" src="{{ user.profpic }}" alt="">
                    {% else %}
                    <img id="convo-image" class="icon-img" src="{{ url_for('static', filename='images/pup2.jpg') }}" alt="">
                    {% endif %}
                </div>
                <div class="header-chat-name">
                </div>
            </div>
        </div>
    </header>
    <div id="main-content">
        <div id="sidebar">
            <div id="chat-search-wrap" class="chat-bubble-wrap">
                <div id="chat-search-bubble" class="chat-bubble">
                    <button data-click="side-search" class="svg-wrap">
                        <svg id="sidebar-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#263238" fill-opacity=".3"
                                d="M15.009 13.805h-.636l-.22-.219a5.184 5.184 0 0 0 1.256-3.386 5.207 5.207 0 1 0-5.207 5.208 5.183 5.183 0 0 0 3.385-1.255l.221.22v.635l4.004 3.999 1.194-1.195-3.997-4.007zm-4.808 0a3.605 3.605 0 1 1 0-7.21 3.605 3.605 0 0 1 0 7.21z">
                            </path>
                        </svg>
                    </button>
                    <input type="text" name="" id="" placeholder="Search or start new chat">
                </div>
            </div>
            <div id="convo-wrap">
                <!-- <div class="convo active"> -->
                {% for chat in chats %}
                    <div class="convo" data-chat_id="{{ chat.chat_id }}" data-chat_name="{{ chat.chatname }}" data-user_id="{{ current_user.id }}">
                        <div class="head-img-wrap">
                            <!-- <img class="icon-img" src="{{ url_for('static', filename='images/' + 'user.profpic') }}" alt=""> -->
                        </div>
                    <div class="convo-info">
                        <div class="convo-title">
                            <div class="convo-name">{{ chat.chatname }}</div>
                            <div class="convo-date">Since: {{ chat.datecreated }}</div>
                        </div>
                        <div class="convo-last-mssg">
                            <p class="mssg">{{ chat.messagessent }}</p>
                        </div>
                    </div>
                </div>  
                {% endfor %}
            </div>
            <div id="add-convo-wrap">
                <!-- Trigger/Open The Modal -->
                <button id="open-chat-modal-button">Add Chat</button>
            </div>
            <!-- The Chat Modal -->
            <div id="newChatModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="chatclose">&times;</span>
                        <h2>New Chat</h2>
                    </div>
                    <div class="modal-body">
                        <form id="new-chat-form" name="new-chat-form">
                            <input type="text" name="new_chat" id="new_chat_name" placeholder="Enter Chat Name">
                            <input type="text" name="chat_recipient" id="new_chat_recipient" placeholder="Username of recipient">
                            <input type="hidden" name="user_id" id="creator-name" value="{{ user.id }}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-click="create-chat chatclose" class="svg-wrap" onclick="createNewChat()">Create New Chat</button> 
                    </div>
                </div>
            </div>
        </div>
        <div id="main-chat">
            <div id="main-chat-wrap">
            </div>
            <div id="main-chat-new-mssg">
                <div id="new-mssg-wrap" class="chat-bubble-wrap">
                    <div id="new-mssg-bubble" class="chat-bubble">
                        <form id="new-message-form" name="new-message-form">
                            <input type="text" name="message" id="new-message" placeholder="Type a message">
                            <input type="hidden" name="user_id" id="sndr-name" value="{{ user.id }}">
                            <input type="hidden" name="chat_id" id="sndr-chat_id" value=" ">
                        </form>
                    </div>
                </div>
                <button data-click="send-message" class="svg-wrap" onclick="submitNewMessage()">
                    <svg id="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="#263238" fill-opacity=".45"
                            d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>